{% extends 'base.html' %}

{% block title %}
    Feedback
{% endblock %}

{% block content %}
    <div class="container">
        <h1>Отзывы</h1>
        <form method="post">
            {% csrf_token %}
            {% for field in form %}
                <div class="mt-4 mb-3">
                    {{ field.errors }}
                    {{ field.label_tag }} {{ field }}
                    {% if field.help_text %}
                        <p class="help">{{ field.help_text|safe }}</p>
                    {% endif %}
                </div>
            {% endfor %}
            <input class="btn btn-primary" type="submit" value="Отправить">
        </form>
    </div>
{% endblock content %}